<div class="search-flex">
    <div>
        <select class="marvel-select" [(ngModel)]="searchCategory" (change)="updateSearch()">
            <option *ngFor="let category of categories" [value]="category">{{category}}</option>
        </select>
    </div>
    <div class="input-div">
        <input type="text" class="search-input" placeholder="Search MARVEL" (keyup)="updateSearch()"
            [(ngModel)]="searchText">
        <i (click)="updateSearch()" class="material-symbols-outlined icon">
            search
        </i>
    </div>
</div>
<div class="search-results" *ngIf="characters && characters.length > 0">
    <div class="result-content" *ngFor="let character of characters" (click)="ShowCharacter(character.id)">
        <img class="result-thumbnail" src={{character.thumbnail.path}}.{{character.thumbnail.extension}}>
        <div class="result-detail">
            <div class="title-section">
                <p class="result-title">{{character.name}}</p>
            </div>
            <div class="description-section">
                <p class="result-description">
                    {{character.description | truncate:451:'...'}}
                </p>
            </div>
        </div>
    </div>
</div>