<div class="search-flex">
    <div>
        <select class="marvel-select">
            <option *ngFor="let category of categories">{{category}}</option>
        </select>
    </div>
    <div class="input-div">
        <input type="text" class="search-input" placeholder="Search MARVEL">
        <i class="material-symbols-outlined icon">
            search
        </i>
    </div>
</div>
<div class="search-results">
    <div class="result-content">
        <img class="result-thumbnail" src="../../../assets/app-bg.png">
        <div class="result-detail">
            <div class="title-section">
                <p class="result-title">Test</p>
            </div>
            <div class="description-section">
                <p class="result-description">
                    Tony Stark is the genius inventor/billionaire/philanthropist owner of Stark Industries. With his
                    super
                    high-tech Iron
                    Man suit, he is practically indestructible, able to fly, and has a large selection of weapons to

                </p>
            </div>
        </div>

    </div>
    <div class="result-content">
        <img class="result-thumbnail" src="../../../assets/app-bg.png">
        <div class="result-detail">
            <div class="title-section">
                <p class="result-title">Test</p>
            </div>
            <div class="description-section">
                <p class="result-description">
                    Tony Stark is the genius inventor/billionaire/philanthropist owner of Stark Industries. With his
                    super
                    high-tech Iron
                    Man suit, he is practically indestructible, able to fly, and has a large selection of weapons to

                </p>
            </div>
        </div>

    </div>
    <div class="result-content">
        <img class="result-thumbnail" src="../../../assets/app-bg.png">
        <div class="result-detail">
            <div class="title-section">
                <p class="result-title">Test</p>
            </div>
            <div class="description-section">
                <p class="result-description">
                    Tony Stark is the genius inventor/billionaire/philanthropist owner of Stark Industries. With his
                    super
                    high-tech Iron
                    Man suit, he is practically indestructible, able to fly, and has a large selection of weapons to

                </p>
            </div>
        </div>

    </div>
    <div class="result-content">
        <img class="result-thumbnail" src="../../../assets/app-bg.png">
        <div class="result-detail">
            <div class="title-section">
                <p class="result-title">Test</p>
            </div>
            <div class="description-section">
                <p class="result-description">
                    Tony Stark is the genius inventor/billionaire/philanthropist owner of Stark Industries. With his
                    super
                    high-tech Iron
                    Man suit, he is practically indestructible, able to fly, and has a large selection of weapons to

                </p>
            </div>
        </div>

    </div>
</div>