<div class="menu me-nav">
    <ul>
        <li>
          <a class="me-nav-link" routerLink="">Marvel</a>
        </li>
        <li>
            <a class="me-nav-link" routerLink="/characters">Characters</a>
        </li>
        <li>
            <a class="me-nav-link" routerLink="/Comics">Comics</a>
        </li>
        <li>
            <a class="me-nav-link" routerLink="/Creators">Creators</a>
        </li>
        <li>
            <a class="me-nav-link" routerLink="/Events">Events</a>
        </li>
        <li>
            <a class="me-nav-link" routerLink="/Series">Series</a>
        </li>
        <li>
            <a class="me-nav-link" routerLink="/Stories">Stories</a>
        </li>
    </ul>
</div>
