<div class="menu me-nav">
    <ul>
        <li>
            <a class="me-nav-link" routerLink="">Marvel</a>
        </li>
        <li>
            <a class="me-nav-link" routerLink="/characters">Characters</a>
        </li>
        <li>
            <a class="me-nav-link" routerLink="/comics">Comics</a>
        </li>
        <li>
            <a class="me-nav-link" routerLink="/creators">Creators</a>
        </li>
        <li>
            <a class="me-nav-link" routerLink="/events">Events</a>
        </li>
        <li>
            <a class="me-nav-link" routerLink="/series">Series</a>
        </li>
        <li>
            <a class="me-nav-link" routerLink="/stories">Stories</a>
        </li>
    </ul>
</div>