<div class="menu nav">
    <ul>
        <li>
            <a class="nav-link" routerLink="/characters">Characters</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/Comics">Comics</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/Creators">Creators</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/Events">Events</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/Series">Series</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/Stories">Stories</a>
        </li>
    </ul>
</div>