/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background-image: url('./assets/app-bg-2.png');
    //background-color: yellow;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu';
    font-weight: bold;
    color: white;
}